body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#7EFFFF, #FFB6FF)
}

h1 {
    Position: relative;
    font-size: 7.5em;
    text-align: center;
    height: 210px;
    width: 210px;
    line-height: 90%;
    letter-spacing: 10px;
    margin: 0;
    background: linear-gradient(#FC8967, #F356FB);
    -webkit-background-clip: text;
    color: transparent;
}

h1::before {
    content: "";
    position: absolute;
    background: linear-gradient(#F30CFF, #12EDFF);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    top: -45px;
    left: -50px;
    z-index: -1;
    mix-blend-mode: color;
}

#albumsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-Y: scroll;
    width: 100vw;
    height: 75vh;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 75vh;
    margin: 10px;
}

.img {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.img:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.img img {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
